name: Lint Python Code
on:
  workflow_dispatch: {}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: 'python -m pip install --upgrade pip

        pip install pylint

        '
    - name: Install project dependencies
      run: 'pip install -e .

        '
    - name: Lint with pylint
      run: "pylint src/infinity_arcade --rcfile .pylintrc \npylint src/lemonade_client\
        \ --rcfile .pylintrc \n"
